.LandingPage {
  text-align: center;
  padding: 5px;
}

.LandingPage__content {
  width: 70%;
  margin: 0 auto;
  text-align: start;
  line-height: 1.5;
  text-indent: 5%;
}

.LandingPage__test  {
  margin-top: 40px;
}

.LandingPage__test-info {
  font-weight: bold;
}

@media (min-width: 768px) {
  .LandingPage__content {
    width: 50%;
  }
}