.PostListItem {
  background: none;
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(18, 126, 3, 0.25);
  font-size: smaller;
  text-decoration: none;
  box-shadow: 0px 11px 21px -8px rgba(4, 68, 7, 0.5);
  margin: 20px auto;
  border-radius: 10px;
  width: 275px;
}

.PostListItem:hover {
  cursor: pointer;
}

.PostListItem,
.PostListItem:visited {
  color: #555;
}

.PostListItem__details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PostListItem__details h2 {
  margin: 0;
}

.PostListItem__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (width: 786px) {
  .PostListItem {
    width: 400px;
  }
}