.PostForm {
  width: 300px;
  margin: 0 auto;
  line-height: 3;
  text-align: center;
  display: block;
}

.PostForm__inputs {
  text-align: center;
  margin: 0 auto;
}

.PostForm__inputs label {
  display: inline-block;
  min-width: 30%;
  text-align: start;
}

.PostForm__inputs textarea {
  vertical-align: top;
}

.PostForm__button {
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .PostForm {
    width: 30%;
  }
}