.PostPage__comment-list {
  list-style-type: none;
  padding: 0;
}

.PostPage__content {
  margin-bottom: 30px;
}

.PostPage__comment {
  position: relative;
}

.PostPage__comment::before {
  border-color: transparent #f5f5f5;
  border-style: solid;
  border-width: 0px 0px 10px 10px;
  content: '';
  display: block;
  height: 0px;
  position: absolute;
  width: 0;
  bottom: 14px;
  right: 7px;
}

.PostPage__comment-text {
  background: #f5f5f5;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.PostPage__user {
  color: #666;
  margin: 8px 0 0;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
}

